.input {
    $self: &;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--hidden {
        display: none;
    }

    &__label {
        @include typography(c1);
    }

    &__input {
        display: block;
        padding: 8px;
        border: 1px solid color(grayscale, 200);
        border-radius: 8px;

        @at-root #{$self}--error & {
            border-color: color(red);
        }
    }

    &__error {
        display: block;
        margin-top: 0.25rem;
        color: color(red);
    }
}
